<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.seven.designbox">

    <application
            android:name="com.seven.designbox.designpatterns.common.GlobalApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <meta-data android:name="design_width" android:value="1080" />
        <meta-data android:name="design_height" android:value="1920" />

        <activity android:name="com.seven.designbox.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.seven.designbox.main.TestActivity1"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:parentActivityName="com.seven.designbox.main.MainActivity"/>

        <activity android:name="com.seven.designbox.designpatterns.common.DesignPatternsActivity"
                  android:theme="@style/AppTheme.NoActionBar"
                  android:parentActivityName="com.seven.designbox.main.MainActivity"/>

        <activity android:name="com.seven.designbox.designpatterns.patterns.observer.ObserverPattern"
                  android:parentActivityName="com.seven.designbox.designpatterns.common.DesignPatternsActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.seven.designbox.designpatterns.patterns.decorator.DecoratorPattern"
                  android:parentActivityName="com.seven.designbox.designpatterns.common.DesignPatternsActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.seven.designbox.designpatterns.patterns.factory.FactoryPattern"
                  android:parentActivityName="com.seven.designbox.designpatterns.common.DesignPatternsActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.seven.designbox.designpatterns.patterns.singleton.SingletonPattern"
                  android:parentActivityName="com.seven.designbox.designpatterns.common.DesignPatternsActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.seven.designbox.designpatterns.patterns.command.CommandPattern"
                  android:parentActivityName="com.seven.designbox.designpatterns.common.DesignPatternsActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.seven.designbox.designpatterns.patterns.adaptive.AdaptivePattern"
                  android:parentActivityName="com.seven.designbox.designpatterns.common.DesignPatternsActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.seven.designbox.designpatterns.patterns.template.TemplatePattern"
                  android:parentActivityName="com.seven.designbox.designpatterns.common.DesignPatternsActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.seven.designbox.designpatterns.patterns.composite.CompositePattern"
                  android:parentActivityName="com.seven.designbox.designpatterns.common.DesignPatternsActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.seven.designbox.designpatterns.patterns.state.StatePattern"
                  android:parentActivityName="com.seven.designbox.designpatterns.common.DesignPatternsActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.seven.designbox.designpatterns.patterns.proxy.ProxyPattern"
                  android:parentActivityName="com.seven.designbox.designpatterns.common.DesignPatternsActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>
