<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.seven.designbox">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".designpatterns.common.GlobalApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <meta-data android:name="design_width" android:value="1080" />
        <meta-data android:name="design_height" android:value="1920" />

        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".designpatterns.patterns.observer.ObserverPattern"/>
        <activity android:name=".designpatterns.patterns.decorator.DecoratorPattern"/>
        <activity android:name=".designpatterns.patterns.factory.FactoryPattern"/>
        <activity android:name=".designpatterns.patterns.singleton.SingletonPattern"/>
        <activity android:name=".designpatterns.patterns.command.CommandPattern"/>
        <activity android:name=".designpatterns.patterns.adaptive.AdaptivePattern"/>
        <activity android:name=".designpatterns.patterns.template.TemplatePattern"/>
        <activity android:name=".designpatterns.patterns.composite.CompositePattern"/>
        <activity android:name=".designpatterns.patterns.state.StatePattern"/>
        <activity android:name=".designpatterns.patterns.proxy.ProxyPattern"/>
        <activity android:name=".designpatterns.patterns.compound.CompoundPattern"/>

    </application>

</manifest>
